

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>All User</title>

  <link rel="shortcut icon" href="/img/1200x630wa-removebg-preview.png">


  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />


  <link rel="stylesheet" href="assets/plugins/feather/feather.css">

  <link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

  <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">


  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>

  <div class="main-wrapper">

    <div class="header">

      <div class="header-left">
        <a href="/dashboard" class="logo">

          <img src="/img/1200x630wa-removebg-preview.png" alt="Logo">
        </a>
        <a href="/dashboard" class="logo logo-small">
          <img src="/img/1200x630wa-removebg-preview.png" alt="Logo" width="30" height="30">
        </a>
      </div>
      <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fas fa-bars"></i>
        </a>
      </div>


      <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
      </a>

      <ul class="nav user-menu">



        <li class="nav-item dropdown has-arrow new-user-menus">
          <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span class="user-img">
              <img class="rounded-circle" src="img/k.jpeg" width="31" alt="adminprofile">
              <div class="user-text">
                <h6>
                  Karma Choda
                </h6>
                <p class="text-muted mb-0">Human Resources</p>
              </div>
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="user-header">
              <div class="avatar avatar-sm">
                <img src="img/k.jpeg" alt="User Image" class="avatar-img rounded-circle">
              </div>
              <div class="user-text">
                <h6>
                 Karma Choda
                </h6>
                <p class="text-muted mb-0">Human Resources</p>
              </div>
            </div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>

      </ul>

    </div>


    <div class="sidebar" id="sidebar">
      <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
          <ul>
            <li class="menu-title">
              <span>Main Menu</span>
            </li>
            <li>
              <a href="/dashboard"><i class="feather-grid"></i> <span> Dashboard</span></a>

            </li>
            <li class="submenu active">
              <a href="#"><i class="fas fa-user"></i> <span> User</span> <span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/add-employee">Add Employe</a></li>

                <li><a href="/dashboard" class="active">Employe Details</a></li>
              </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="page-wrapper">
        <div class="content container-fluid">
  
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col-sm-9">
                <div class="page-sub-header">
                  <h3 class="page-title">Add your Employe here</h3>
                  <ul class="breadcrumb">
                    <!-- <li class="breadcrumb-item"><a href="#">Users</a></li>
                    <li class="breadcrumb-item active">Add Users</li> -->
  
                  </ul>
  
  
                </div>
              </div>
            
          </div>
        </div>
        <% if (typeof message1 !=='undefined' ) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= message1 %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
            <div class="row">
              <div class="col-sm-12">
                <div class="card comman-shadow">
                  <div class="card-body">
                    <form action="/add-employee" id="myForm" method="post">
                      <div class="row">
                        <div class="col-12">
                          <h5 class="form-title student-info"> Fill the Employee Information</h5>
  
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Name <span class="login-danger">*</span></label>
                            <input class="form-control" type="text" name="Name" placeholder="Enter Full Name"
                              required="required">
                          </div>
                        </div>
  
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Employe ID <span class="login-danger">*</span> </label>
                            <input class="form-control" min="0" type="number" name="Employee_id" placeholder="Enter Employe ID"
                              required="required">
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Date Of Birth <span class="login-danger">*</span></label>
                            <input class="form-control" type="date" name="DoB" placeholder="Enter your DoB"
                              required="required">
                          </div>
                        </div>
  
  
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Designation <span class="login-danger">*</span></label>
                            <input class="form-control" type="text" name="Designation"
                              placeholder="Enter Designation" required="required">
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Department<span class="login-danger">*</span></label>
                            <select class="form-control select" name="Department" required>
                              <option>Please Select Role </option>
                              <option value="IT Department">IT Department</option>
                              <option value="CS Department">CS Department</option>
                              <option value="AI Department">AI Department</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Appointment Date <span class="login-danger">*</span></label>
                            <input class="form-control" type="date" name="Appointment_Date" placeholder="Enter appointment date"
                            required="required">
                           
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <label for=""> Gender</label>
  
                          <div class="form-check ">
                            <input type="radio" class="form-check-input" id="radio1" name="Gender" value="Male"
                              required="required" onclick="showDropdown('Male')">Male
                            <label class="form-check-label" for="radio1"></label>
                          </div>
                          <div class="form-check ">
                            <input type="radio" class="form-check-input" id="radio2" name="Gender" value="Female"
                              required="required" onclick="showDropdown('Female')">Female
                            <label class="form-check-label" for="radio2"></label>
                          </div>
                        </div>
                        <% if (typeof message !=='undefined' ) { %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= message %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                          <% } %>
                            <div class="col-12">
                              <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <input type="button" onclick="clearForm()" class="btn btn-secondary" data-dismiss="modal"
                                  value="Cancel">
  
                              </div>
                            </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  




  </div>
  <script>
    function clearForm() {
      document.getElementById("myForm").reset();
    }
    //Radio button dropdown
    function showDropdown(dropdownId) {
      var student = document.getElementById("Male");
      // var tutor = document.getElementById("tutor");

      if (dropdownId === "Male") {
        student.style.display = "block";
        // tutor.style.display = "none";
      } else if (dropdownId === "Female") {
        student.style.display = "none";
        // tutor.style.display = "block";
      }
    }


  </script>


  <script src="assets/js/jquery-3.6.0.min.js"></script>

  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/feather.min.js"></script>

  <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>


  <!-- <script src="assets/plugins/datatables/datatables.min.js"></script> -->

  <script src="assets/js/datatables-simple-demo.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
  <script src="assets/js/script.js"></script>
</body>

</html>